*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Purple-600: hsl(246, 80%, 60%);
    --Orange-300: hsl(15, 100%, 70%);
    --Blue-300: hsl(195, 74%, 62%);
    --Pink-400: hsl(348, 100%, 68%);
    --Green-400: hsl(145, 58%, 55%);
    --Purple-700: hsl(264, 64%, 52%);
    --Yellow-300: hsl(43, 84%, 65%);
    --Navy-950: hsl(226, 43%, 10%);
    --Navy-900: hsl(235, 46%, 20%);
    --Purple-500: hsl(235, 45%, 61%);
    --Navy-200: hsl(236, 100%, 87%);
}

@font-face {
    font-family: 'Rubik';
    src: url('./assets/Rubik/Rubik-VariableFont_wght.ttf');
    font-style: normal;
    font-weight: 100 900;
}

$mobil-radius: 1em;

body{
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    background-color: var(--Navy-950);
    font-size: 1.1rem;
    color: white;
}

main{
    min-height: 100vh;
    padding: 4em 1em;
    display: flex;
}

.container{
    margin: auto;
}

.userDetailsContainer{
    background-color: var(--Navy-900);
    border-radius: $mobil-radius;
}

.userDetails{
    background-color: var(--Purple-600);
    display: flex;
    align-items: center;
    gap: 1em;
    border-radius: $mobil-radius;
    padding: 2em;

    img{
        width: 4.5em;
        height: 4.5em;
        border: .2em white solid;
        border-radius: 50%;
    }

    p{
        color: var(--Navy-200);
        margin-bottom: 0.3em;
    }

    h1{
        font-size: 1.2em;
        font-weight: 300;
    }
}

.periodSpecification{
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    
    button{
        color: var(--Purple-500);
        background-color: transparent;
        border: transparent;
        text-transform: capitalize;
        font-size: 1.1em;
        cursor: pointer;

        &:hover,
        &.active{
            color: white;
        }
    }
}

.cardsContainer{
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.activityCard{
    height: 9.5em;
    border-radius: $mobil-radius;
    display: flex;

    .card{
        background-color: var(--Navy-900);
        border-radius: $mobil-radius;
        width: 100%;
        align-self: flex-end;
        bottom: 0;
        padding: 1.5em;
        display: flex;
        flex-direction: column;
        gap: .5em;

        div{
            display: flex;
            gap: 0.5em;
            justify-content: space-between;
            align-items: center;

            img{
                cursor: pointer;
            }

            p{
                font-weight: 500;
            }

            h2{
                font-weight: 300;
                font-size: 2em;
            }

            span{
                color: var(--Navy-200);
                text-transform: capitalize;
            }
        }
    }
}

@mixin activity-bg($icon, $color, $position) {
    background: url($icon), $color;
    background-repeat: no-repeat;
    background-position: $position;
}

.work{
    @include activity-bg("./assets/images/icon-work.svg", var(--Orange-300), 92% -10%)
}

.play{
    @include activity-bg("./assets/images/icon-play.svg", var(--Blue-300), 92% -5%)
}

.study{
    @include activity-bg("./assets/images/icon-study.svg",var(--Pink-400) , 92% -8%)
}

.exercise{
    @include activity-bg("./assets/images/icon-exercise.svg",var(--Green-400) , 92% 0)
}

.social{
    @include activity-bg("./assets/images/icon-social.svg", var(--Purple-700), 92% -15%)
}

.self_care{
    @include activity-bg("./assets/images/icon-self-care.svg", var(--Yellow-300), 92% -8%)
}

$radius: .8em;

@media (min-width: 80em){

    body{
        font-size: .9rem;
    }

    .container{
        display: flex;
        gap: 2em;
        width: 75%;
    }

    .cardsContainer{
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 0;
        gap: 2em;
    }

    .userDetailsContainer{
        width: 28em;
        border-radius: $radius;
    }

    .userDetails{
        flex-direction: column;
        align-items: start;
        gap: 3em;
        padding: 2em;
        height: 65%;
        border-radius: $radius;

        img{
            width: 3.5em;
            height: 3.5em;
        }

        p{
            font-size: .9rem;
        }

        h1{
            font-size: 2rem;
        }
    }

    .periodSpecification{
        flex-direction: column;
        align-items: start;
        gap: 1em;
        padding: 2em;

        button{
            font-size: 1rem;
        }
    }

    .activityCard{
        width: 16em;
        height: 15em;
        border-radius: $radius;

        .card{
            border-radius: $radius;
            padding: 2em;

            .score{
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 0.5em;
                padding-top: 1em;

                h2{
                    font-size: 3rem;
                }
            }
        }
    }
}